# LiveKit Server Connection
LIVEKIT_URL=wss://livekit.tu-dominio.com
LIVEKIT_API_KEY=APIxxxxxxxx
LIVEKIT_API_SECRET=secretxxxxxxxx

# OpenAI (Realtime Voice-to-Voice)
OPENAI_API_KEY=-
# Simli Avatar
SIMLI_API_KEY=
SIMLI_FACE_ID=